div#panel {
    width: 1310px;
    z-index: 1000;
    padding: 7px;
    vertical-align: middle;
    background: azure;
    border: 2px solid lightgreen;
    border-radius: 5px;
    position: fixed;
    opacity: 0.8;
    font-size-adjust: 0.45;
}

div#visuals {
    position: relative;
    top: 50px;
    width: 1310px;
    padding: 7px;
}

div#plots {
    width: 860px;
    height: 600px;
    float: left;
}

div.plot {
    width: 860px;
    height: 290px;
    margin: 0 10px 10px 0;
    border: 1px solid lightgrey;
}

div#piechart {
    width: 435px;
    height: 590px;
    border: 1px solid lightgrey;
    font-size-adjust: 0.45;
    float: right;
}

div#loading {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    padding-top: 20%;
    text-align: center;
    background: #000000;
    opacity: 0.5;
    cursor: wait;
    display: none;
}

svg.svg {
    width: 830;
    height: 300;
}

svg#svgpie {
    width: 430;
    height: 550;
}

path.line { fill: none; }

path.pos {
    fill: none;
    stroke: black;
    stroke-width: 3;
}

.axis path, .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.axis text { font-size: 10px; }
.axis line { opacity: 0.2; }

.frontier-area {
    fill-opacity: 0.2;
    stroke: red;
    stroke-width: 2;
    stroke-opacity: 0.5;
}

.profile {
    fill: red;
    stroke: black;
    stroke-width: 1px;
    cursor: pointer;
}

.arc { opacity: 0.8; }

input[type=text] { width: 80px; }
input[type=submit] { width: 60px; }
input[type=number] { width: 60px; }
input[type=range] {
    width: 60px;
    height: 10px;
}

select { width: 90px; }
